/*banner标题*/
#headline {
	max-width: 1920px;
	padding: 70px 0 0 0;
	margin: 0 auto;
	position: relative;
}
#headline hgroup {
	position: absolute;
	top: 45%;
	left: 18%;	
}
#headline h2 {
	font-size: 45px;
	letter-spacing: 1px;
}
#headline h3 {
	letter-spacing: 1px;
	font-size: 24px;
}

/*内容部分*/
#container {
	max-width: 1260px;
	margin: 30px auto;
}
#container .sidebar {
	width: 28%;
	float: right;
}
#container .sidebar h2{
	height: 40px;
	line-height: 40px;
	font-size: 20px;
	font-weight: normal;
	letter-spacing: 1px;
	color: white;
	text-indent: 10px;
	background-color:deepskyblue;
	text-align: left;
}
#container .recommend {
	margin: 0 0 10px;
	background-color: #fff;
}
#container .tag {
	text-align: center;
	padding: 10px 0;
}
#container .tag li {
	display: inline-block;
	background-color: #eee;
	width: 100px;
	height: 35px;
	line-height: 35px;
	text-indent: 8px;
	text-align: left;
	margin:2px 0;
}
#container .tag a{
	display: block;
	color: #999;
}
#container .tag a:hover {
	color: #fff;
	background-color:#000;
}
#container .hot {
	border: 1px solid #eee;
	margin: 0 0 10px;
	text-align: center;
	background-color: #fff;
}
#container .figure {
	padding: 10px 0;
}
#container .hot figure {
	position: relative;
	cursor: pointer;
	display: inline-block;
	color: white;
	padding: 4px;
	overflow: hidden;
}
#container .hot figure figcaption{
	position: absolute;
	left:4px;
	bottom:-22px;
	width:95%;
	background: rgba(0,0,0,0.5);
}

#container .treasure {
	border: 1px solid #eee;
	margin: 0 0 10px;
	background-color: #fff;
}
#container .box {
	text-align: center;
	padding: 10px 0;
}
#container .box a{
	display: inline-block;
	background-color: #eee;
	width: 150px;
	height: 40px;
	line-height: 40px;
	text-indent: 35px;
	text-align: left;
	margin:3px 0;
	color: #999;
}
#container .box a.trea1 {
	background: #eee url(../img/trea1.png) no-repeat 10px center;
}
#container .box a.trea2 {
	background: #eee url(../img/trea2.png) no-repeat 10px center;
}
#container .box a.trea3 {
	background: #eee url(../img/trea3.png) no-repeat 10px center;
}
#container .box a.trea4 {
	background: #eee url(../img/trea4.png) no-repeat 10px center;
}

/*旅游咨询*/
.list {
	width: 71%;
	float: left;
}
.list h2{
	height: 40px;
	line-height: 40px;
	font-size: 30px;
	font-weight: normal;
	border-bottom: 1px dashed #999;
	padding: 0 0 15px 0;
	color: #666;
}

.tour{
	position: relative;
	border: 1px solid lightskyblue;
	margin: 0 0 20px 0;
	overflow: hidden;
	cursor: pointer;
}
.tour:after{  
	content:".";  
	height:0;  
	visibility:hidden;  
	display:block;  
	clear:both;  
}
.tour .showlist{
	float:left;
	width: 45%;
	height: 100%;
	overflow: hidden;
	cursor: pointer;
}
.tour img{
	width: 100%;
	transition: all 0.2s linear;
}
.tour img:hover{
	transform: scale(1.1);
}

.tour figcaption {
	width: 55%;
	float: right;
}
.tour hgroup {
	width: 300px;
}
.tour h2{
	font-size: 24px;
	font-weight: normal;
	padding: 10px 0 10px 25px;
	color: red;
	border: none;
}
.tour h3 {
	font-size: 16px;
	padding: 10px 0 10px 25px;
	line-height: 1.5;
	font-weight: normal;
	color: #666;
}
.tour ol {
	padding: 0 0 0 25px;
	color: #666;
	line-height: 2;
}
.tour mark{
	padding: 0px 5px;
	border-radius: 5px;
	color: white;
	background-color:lightskyblue;
}
.tour .buy {
	position: absolute;
	top: 55px;
	right: 30px;
}
.tour s{
	font-size: 16px;
	color: #666;
}
.tour .price{
	font-size: 20px;
	color: #59b200;
}
.tour strong {
	font-size: 36px;
}
.tour .reserve{
	margin: 10px 0 0 0;
}
.tour .reserve a{
	display: inline-block;
	width: 152px;
	height: 40px;
	line-height: 40px;
	border-radius: 4px;
	background-color: #59b200;
	color: #fff;
	font-size: 20px;
	text-align: center;
}
.tour .type{
	position: absolute;
	top: 0px;
	left:-90px;
	width: 90px;
	height:30px;
	line-height: 30px;
	text-align: center;
	border-bottom-right-radius: 4px;
	background-color: rgba(0,0,0,0.5);
	font-size: 14px;
	color: #fff;
	letter-spacing: 1px;
	transition: all 0.2s linear;
}
.tour:hover .type{
	transform: translate(90px);
}
.tour .disc{
	width: 52px;
	height: 52px;
	position: absolute;
	top: 0;
	right: 0;
}
.tour .disc span {
	width: 52px;
	height: 52px;
	display: block;
	font-size: 14px;
	color: #ff7a4d;
	transform: rotate(45deg);
	text-indent: 7px;
	padding: 5px 0 0 0;
}
.tour footer{
	width: 55%;
	height: 35px;
	line-height: 35px;
	text-indent: 25px;
	color: #666;
	position: absolute;
	bottom: 0;
	background-color: #fafafa;
	letter-spacing: 1px;
}
.tour time{
	color:red;
}
.list .more {
	width: 200px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border:none;
	border-radius: 10px;
	font-size:16px;
	margin: 0 auto;
	cursor: pointer;
	background-color:lightgrey;
	box-shadow: 0px 0px 10px gray;
}

/*媒体查询，参考部分Bootstrap 框架*/
/*当页面大于1200px 时，大屏幕，主要是PC 端*/
@media (min-width: 1200px) {
	
}
/*在992 和1199 像素之间的屏幕里，中等屏幕，分辨率低的PC*/
@media (min-width: 992px) and (max-width: 1199px) {
	#headline hgroup {
		left: 8%;
	}
	#headline h2 {
		font-size: 36px;
	}
	#headline h3 {
		font-size: 20px;
	}
	.sidebar {
		display: none;
	}
	.list{
		width: 100%;
		padding: 0 20px
	}
}
/*在768 和991 像素之间的屏幕里，小屏幕，主要是PAD*/
@media (min-width: 768px) and (max-width: 991px) {
	#header, #header .center, #header .link {
		height: 45px;
	}
	#header .logo, .sm-hidden,.sidebar,.md-hidden{
		display: none;
	}
	#header .link {
		width: 100%;
		line-height: 45px;
	}
	.sm-visible {
		display: block;
	}
	
	#headline {
		padding: 45px 0 0 0;
	}
	#headline hgroup {
		left: 8%;
	}
	#headline h2 {
		font-size: 26px;
	}
	#headline h3 {
		font-size: 14px;
	}
	
	.list {
		width: 100%;
		padding: 0 20px
	}
	.list h2 {
		font-size: 25px;
	}
	
	.tour h2 {
		font-size: 16px;
		height: 20px;
		padding: 5px 0 10px 15px;
	}
	.tour h3 {
		font-size: 14px;
		padding: 5px 0 5px 15px;
	}
	.tour .buy {
		position: absolute;
		top: auto;
		right: auto;
		bottom:50px;
		padding: 0 0 0 15px;
	}
	.tour .buy strong {
		font-size: 18px;
	}
	.tour .reserve a{
		width:100px;
		height:30px;
		line-height: 30px;
		border-radius: 5px;
		background-color: #59b200;
		color: #fff;
		font-size:16px;
		text-align: center;
		margin-top:5px;
	}
}
/*在480 和767 像素之间的屏幕里，超小屏幕，主要是手机*/
@media (min-width: 480px) and (max-width: 767px){
	#header, #header .center, #header .link {
		height: 45px;
	}
	#header .logo, .sm-hidden,.sidebar{
		display: none;
	}
	#header .link {
		width: 100%;
		line-height: 45px;
	}
	.sm-visible {
		display: block;
	}
	
	#headline {
		padding: 45px 0 0 0;
	}
	#headline hgroup {
		left: 8%;
	}
	#headline h2 {
		font-size: 26px;
	}
	#headline h3 {
		font-size: 14px;
	}
	.list {
		width: 100%;
		padding: 0 20px;
	}
	.tour .showlist{
		width: 100%;
		overflow: hidden;
		cursor: pointer;
	}
	.tour img{
		width: 100%;
		transition: all 0.2s linear;
	}
	.tour img:hover{
		transform: scale(1.1);
	}
	.tour figcaption {
		width: 100%;
		min-height: 250px;
	}
	.tour figcaption h2{
		padding:2px 10px;
		font-size:18px;
	}
	.tour figcaption h3{
		font-size:16px;
		padding:2px 10px;
	}
	.tour figcaption ol{
		padding:2px 10px;
		font-size:14px;
	}
	.tour .buy {
		position: absolute;
		top: auto;
		right: auto;
		bottom:50px;
		padding: 0 0 0 15px;
	}
	.tour .buy .price{
		float: left;
		margin:15px 5px 0px 0px;
	}
	.tour .buy .price strong{
		font-size:22px;
	}
	.tour .reserve{
		float: left;
	}
	.tour .reserve a{
		width:100px;
		height:30px;
		line-height: 30px;
		border-radius: 5px;
		background-color: #59b200;
		color: #fff;
		font-size:16px;
		text-align: center;
		margin-top:5px;
	}
	.tour footer{
		width:100%;
	}
	
}
/*在小于480 像素的屏幕，微小屏幕，更低分辨率的手机*/
@media (max-width: 479px) {
	#header, #header .center, #header .link {
		height: 45px;
	}
	#header .logo, .sm-hidden,.sidebar,.xs-hidden{
		display: none;
	}
	#header .link {
		width: 100%;
		line-height: 45px;
	}
	.sm-visible {
		display: block;
	}
	
	#headline {
		padding: 45px 0 0 0;
	}
	#headline hgroup {
		left: 8%;
	}
	#headline h2 {
		font-size: 26px;
	}
	#headline h3 {
		font-size: 14px;
	}
	.list {
		width: 100%;
		padding: 0 20px;
	}
	.tour .showlist{
		width: 100%;
		overflow: hidden;
		cursor: pointer;
	}
	.tour img{
		width: 100%;
		transition: all 0.2s linear;
	}
	.tour img:hover{
		transform: scale(1.1);
	}
	.tour figcaption {
		width: 100%;
		min-height: 250px;
	}
	.tour figcaption h2{
		padding:2px 10px;
		font-size:18px;
	}
	.tour figcaption h3{
		font-size:16px;
		padding:2px 10px;
	}
	.tour figcaption ol{
		padding:2px 10px;
		font-size:14px;
	}
	.tour .buy {
		position: absolute;
		top: auto;
		right: auto;
		bottom:10px;
		padding: 0 0 0 15px;
	}
	.tour .buy .price{
		margin:15px 5px 0px 0px;
	}
	.tour .buy .price strong{
		font-size:22px;
	}
	.tour .reserve a{
		width:100px;
		height:30px;
		line-height: 30px;
		border-radius: 5px;
		background-color: #59b200;
		color: #fff;
		font-size:16px;
		text-align: center;
		margin-top:5px;
	}
	.tour footer{
		width:100%;
	}
	
}